name = "forgex"
version = "0.1.0"
license = "MIT"
author = "Amasaki Shinobu"
maintainer = "amasaki203@gmail.com"
copyright = "Copyright 2023, Amasaki Shinobu"
[build]
auto-executables = true
auto-tests = true
auto-examples = true
module-naming = false
[install]
library = true
[fortran]
implicit-typing = false
implicit-external = false
source-form = "free"
